@font-face {
  font-family: "Lato";
  font-weight: normal;
  src: url("../fonts/Lato/Lato-Medium.ttf"); }

@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: url("../fonts/Lato/Lato-Semibold.ttf"); }

@font-face {
  font-family: "Gotham";
  font-weight: normal;
  src: url("../fonts/Gotham/GothaProLig.otf"); }

@font-face {
  font-family: "GothamLight";
  font-weight: normal;
  src: url("../fonts/Gotham/GothaProLight.otf"); }
